.coinContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.textContainer {
    text-align: center;
    color: aliceblue;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 214, 214);
    height: 40px;
    width: 70%;
}

.headerContainer span p {
    font-size: 0.9rem;
    font-weight: 500;
}

.coinName {
    width: 140px;
    text-align: left;
    margin-left: 20px;
}

.coinAbbr {
    text-align: left;
    width: 100px;
}

.coinPrice {
    text-align: left;
    width: 110px;
}

.priceChange {
    text-align: left;
    width: 100px;
}

.marketCap {
    text-align: left;
    margin-left: 60px;
}

.input {
    width: 300px;
    margin-top: 5px;
    border: 1px outset rgb(228, 223, 240);
    background-color: rgb(197, 203, 213);
    border-radius: 5px;
    height: 30px;
    transition: all 0.2s ease;
}

.input:focus {
    outline: none;
    background: rgb(255, 255, 255);
    box-shadow: rgba(184, 197, 205, 0.24) 0px 3px 8px;
}

.paginationBttns {
    color: aquamarine;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    width: 80%;
    height: 50px;
    margin-top: 20px;
}

.paginationBttns a {
    padding: 12px;
    margin: 5px;
}

.paginationBttns a:hover {
    background-color: rgb(97, 101, 77);
    color: orange;
    border-radius: 15px;
}

.paginationActive a {
    color: white;
    border-radius: 15px;
    background-color: rgb(77, 101, 101);
}

.paginationDisabled a {
    color: rgb(203, 203, 203);
    background-color: grey;
    border-radius: 15px;
  }


